.App {
        margin: 0;
        display: inline;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-family:Verdana, Geneva, Tahoma, sans-serif, condensed;
        text-align: center;

}
.text {
        color: #565566;

}
